# Fichiers HTML générés
html/index.html
tests/sorties/html/index.html

# Cache python
occupation/__pycache__/
tests/__pycache__/

# Venv PyCharm/VisualStudio/VSCode/Project IDX
.idea/
.vs/
.vscode/
.idx